#button1:hover ,#button2:hover ,#button3:hover ,#button4:hover ,#button5:hover ,#button6:hover ,#button7:hover ,
#button8:hover ,#button9:hover ,#button10:hover ,#button11:hover ,#button12:hover ,#button13:hover ,#button14:hover ,
#button15:hover ,#button16:hover ,#button17:hover ,#button18:hover ,#button19:hover,
#button20:hover {
  background-color: red; 
  color: #FFFFFF;
}
h1{
	 color: red;
}
input { font-size: 18px; }